FedexValidatePostalCodeWebServiceClient/Backup/Web References/CountryServiceWebReference/CountryServiceDefinitions.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:s1="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns="http://fedex.com/ws/cnty/v4" name="CountryServiceDefinitions" targetNamespace="http://fedex.com/ws/cnty/v4" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://fedex.com/ws/cnty/v4" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="ValidatePostalReply" type="ns:ValidatePostalReply" />
      <xs:element name="ValidatePostalRequest" type="ns:ValidatePostalRequest" />
      <xs:complexType name="Address">
        <xs:annotation>
          <xs:documentation>Descriptive data for a physical location. May be used as an actual physical address (place to which one could go), or as a container of "address parts" which should be handled as a unit (such as a city-state-ZIP combination within the US).</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="StreetLines" type="xs:string">
            <xs:annotation>
              <xs:documentation>Combination of number, street name, etc. At least one line is required for a valid physical address; empty lines should not be included.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="City" type="xs:string">
            <xs:annotation>
              <xs:documentation>Name of city, town, etc.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="StateOrProvinceCode" type="xs:string">
            <xs:annotation>
              <xs:documentation>Identifying abbreviation for US state, Canada province, etc. Format and presence of this field will vary, depending on country.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="PostalCode" type="xs:string">
            <xs:annotation>
              <xs:documentation>Identification of a region (usually small) for mail/package delivery. Format and presence of this field will vary, depending on country.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="UrbanizationCode" type="xs:string">
            <xs:annotation>
              <xs:documentation>Relevant only to addresses in Puerto Rico.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="CountryCode" type="xs:string">
            <xs:annotation>
              <xs:documentation>The two-letter code used to identify a country.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="CountryName" type="xs:string">
            <xs:annotation>
              <xs:documentation>The fully spelt out name of a country.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="Residential" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>Indicates whether this address residential (as opposed to commercial).</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="CarrierCodeType">
        <xs:annotation>
          <xs:documentation>Identification of a FedEx operating company (transportation).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:enumeration value="FDXC" />
          <xs:enumeration value="FDXE" />
          <xs:enumeration value="FDXG" />
          <xs:enumeration value="FXCC" />
          <xs:enumeration value="FXFR" />
          <xs:enumeration value="FXSP" />
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="ClientDetail">
        <xs:annotation>
          <xs:documentation>Descriptive data for the client submitting a transaction.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="1" name="AccountNumber" type="xs:string">
            <xs:annotation>
              <xs:documentation>The FedEx account number associated with this transaction.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="MeterNumber" type="xs:string">
            <xs:annotation>
              <xs:documentation>This number is assigned by FedEx and identifies the unique device from which the request is originating</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="MeterInstance" type="xs:string" />
          <xs:element minOccurs="0" name="IntegratorId" type="xs:string">
            <xs:annotation>
              <xs:documentation>Only used in transactions which require identification of the FedEx Office integrator.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="Region" type="ns:ExpressRegionCode">
            <xs:annotation>
              <xs:documentation>Indicates the region from which the transaction is submitted.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="Localization" type="ns:Localization">
            <xs:annotation>
              <xs:documentation>The language to be used for human-readable Notification.localizedMessages in responses to the request containing this ClientDetail object. Different requests from the same client may contain different Localization data. (Contrast with TransactionDetail.localization, which governs data payload language/translation.)</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="ExpressRegionCode">
        <xs:annotation>
          <xs:documentation>Indicates a FedEx Express operating region.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:enumeration value="APAC" />
          <xs:enumeration value="CA" />
          <xs:enumeration value="EMEA" />
          <xs:enumeration value="LAC" />
          <xs:enumeration value="US" />
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="Localization">
        <xs:annotation>
          <xs:documentation>Identifies the representation of human-readable text.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="1" name="LanguageCode" type="xs:string">
            <xs:annotation>
              <xs:documentation>Two-letter code for language (e.g. EN, FR, etc.)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="LocaleCode" type="xs:string">
            <xs:annotation>
              <xs:documentation>Two-letter code for the region (e.g. us, ca, etc..).</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="LocationDescription">
        <xs:sequence>
          <xs:element minOccurs="0" name="LocationId" type="xs:string" />
          <xs:element minOccurs="0" name="LocationNumber" type="xs:int" />
          <xs:element minOccurs="0" name="CountryCode" type="xs:string" />
          <xs:element minOccurs="0" name="StateOrProvinceCode" type="xs:string" />
          <xs:element minOccurs="0" name="PostalCode" type="xs:string" />
          <xs:element minOccurs="0" name="ServiceArea" type="xs:string" />
          <xs:element minOccurs="0" name="AirportId" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="RestrictedPackageSpecialServices" type="ns:PackageSpecialServiceType">
            <xs:annotation>
              <xs:documentation>Package special services prohibited for this location for operational reasons. (Other package special services may or may not be available per shipment for other reasons.)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="RestrictedShipmentSpecialServices" type="ns:ShipmentSpecialServiceType">
            <xs:annotation>
              <xs:documentation>Shipment special services prohibited for this location for operational reasons. (Other shipment special services may or may not be available per shipment for other reasons.)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="FedExEuropeFirstOrigin" type="xs:boolean" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Notification">
        <xs:annotation>
          <xs:documentation>The descriptive data regarding the result of the submitted transaction.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="0" name="Severity" type="ns:NotificationSeverityType">
            <xs:annotation>
              <xs:documentation>The severity of this notification. This can indicate success or failure or some other information about the request. The values that can be returned are SUCCESS - Your transaction succeeded with no other applicable information. NOTE - Additional information that may be of interest to you about your transaction. WARNING - Additional information that you need to know about your transaction that you may need to take action on. ERROR - Information about an error that occurred while processing your transaction. FAILURE - FedEx was unable to process your transaction at this time due to a system failure. Please try again later</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="Source" type="xs:string">
            <xs:annotation>
              <xs:documentation>Indicates the source of this notification. Combined with the Code it uniquely identifies this notification</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="Code" type="xs:string">
            <xs:annotation>
              <xs:documentation>A code that represents this notification. Combined with the Source it uniquely identifies this notification.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="Message" type="xs:string">
            <xs:annotation>
              <xs:documentation>Human-readable text that explains this notification.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="LocalizedMessage" type="xs:string">
            <xs:annotation>
              <xs:documentation>The translated message. The language and locale specified in the ClientDetail. Localization are used to determine the representation. Currently only supported in a TrackReply.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="MessageParameters" type="ns:NotificationParameter">
            <xs:annotation>
              <xs:documentation>A collection of name/value pairs that provide specific data to help the client determine the nature of an error (or warning, etc.) witout having to parse the message string.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="NotificationParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="Id" type="xs:string">
            <xs:annotation>
              <xs:documentation>Identifies the type of data contained in Value (e.g. SERVICE_TYPE, PACKAGE_SEQUENCE, etc..).</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="Value" type="xs:string">
            <xs:annotation>
              <xs:documentation>The value of the parameter (e.g. PRIORITY_OVERNIGHT, 2, etc..).</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="NotificationSeverityType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="ERROR" />
          <xs:enumeration value="FAILURE" />
          <xs:enumeration value="NOTE" />
          <xs:enumeration value="SUCCESS" />
          <xs:enumeration value="WARNING" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="PackageSpecialServiceType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="ALCOHOL" />
          <xs:enumeration value="APPOINTMENT_DELIVERY" />
          <xs:enumeration value="COD" />
          <xs:enumeration value="DANGEROUS_GOODS" />
          <xs:enumeration value="DRY_ICE" />
          <xs:enumeration value="NON_STANDARD_CONTAINER" />
          <xs:enumeration value="PIECE_COUNT_VERIFICATION" />
          <xs:enumeration value="PRIORITY_ALERT" />
          <xs:enumeration value="SIGNATURE_OPTION" />
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="PostalDetail">
        <xs:sequence>
          <xs:element minOccurs="0" name="StateOrProvinceCode" type="xs:string" />
          <xs:element minOccurs="0" name="CityFirstInitials" type="xs:string" />
          <xs:element minOccurs="0" name="CleanedPostalCode" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="LocationDescriptions" type="ns:LocationDescription" />
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="ShipmentSpecialServiceType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="BLIND_SHIPMENT" />
          <xs:enumeration value="BROKER_SELECT_OPTION" />
          <xs:enumeration value="CALL_BEFORE_DELIVERY" />
          <xs:enumeration value="COD" />
          <xs:enumeration value="COD_REMITTANCE" />
          <xs:enumeration value="CUSTOM_DELIVERY_WINDOW" />
          <xs:enumeration value="CUT_FLOWERS" />
          <xs:enumeration value="DANGEROUS_GOODS" />
          <xs:enumeration value="DELIVERY_ON_INVOICE_ACCEPTANCE" />
          <xs:enumeration value="DETENTION" />
          <xs:enumeration value="DO_NOT_BREAK_DOWN_PALLETS" />
          <xs:enumeration value="DO_NOT_STACK_PALLETS" />
          <xs:enumeration value="DRY_ICE" />
          <xs:enumeration value="EAST_COAST_SPECIAL" />
          <xs:enumeration value="ELECTRONIC_TRADE_DOCUMENTS" />
          <xs:enumeration value="EMAIL_NOTIFICATION" />
          <xs:enumeration value="EXCLUSIVE_USE" />
          <xs:enumeration value="EXHIBITION_DELIVERY" />
          <xs:enumeration value="EXHIBITION_PICKUP" />
          <xs:enumeration value="EXPEDITED_ALTERNATE_DELIVERY_ROUTE" />
          <xs:enumeration value="EXPEDITED_ONE_DAY_EARLIER" />
          <xs:enumeration value="EXPEDITED_SERVICE_MONITORING_AND_DELIVERY" />
          <xs:enumeration value="EXPEDITED_STANDARD_DAY_EARLY_DELIVERY" />
          <xs:enumeration value="EXTRA_LABOR" />
          <xs:enumeration value="EXTREME_LENGTH" />
          <xs:enumeration value="FEDEX_ONE_RATE" />
          <xs:enumeration value="FLATBED_TRAILER" />
          <xs:enumeration value="FOOD" />
          <xs:enumeration value="FREIGHT_GUARANTEE" />
          <xs:enumeration value="FREIGHT_TO_COLLECT" />
          <xs:enumeration value="FUTURE_DAY_SHIPMENT" />
          <xs:enumeration value="HOLD_AT_LOCATION" />
          <xs:enumeration value="HOLIDAY_DELIVERY" />
          <xs:enumeration value="HOLIDAY_GUARANTEE" />
          <xs:enumeration value="HOME_DELIVERY_PREMIUM" />
          <xs:enumeration value="INSIDE_DELIVERY" />
          <xs:enumeration value="INSIDE_PICKUP" />
          <xs:enumeration value="INTERNATIONAL_CONTROLLED_EXPORT_SERVICE" />
          <xs:enumeration value="INTERNATIONAL_MAIL_SERVICE" />
          <xs:enumeration value="INTERNATIONAL_TRAFFIC_IN_ARMS_REGULATIONS" />
          <xs:enumeration value="LIFTGATE_DELIVERY" />
          <xs:enumeration value="LIFTGATE_PICKUP" />
          <xs:enumeration value="LIMITED_ACCESS_DELIVERY" />
          <xs:enumeration value="LIMITED_ACCESS_PICKUP" />
          <xs:enumeration value="MARKING_OR_TAGGING" />
          <xs:enumeration value="NON_BUSINESS_TIME" />
          <xs:enumeration value="PALLETS_PROVIDED" />
          <xs:enumeration value="PALLET_SHRINKWRAP" />
          <xs:enumeration value="PALLET_WEIGHT_ALLOWANCE" />
          <xs:enumeration value="PENDING_COMPLETE" />
          <xs:enumeration value="PENDING_SHIPMENT" />
          <xs:enumeration value="PERMIT" />
          <xs:enumeration value="PHARMACY_DELIVERY" />
          <xs:enumeration value="POISON" />
          <xs:enumeration value="PORT_DELIVERY" />
          <xs:enumeration value="PORT_PICKUP" />
          <xs:enumeration value="PRE_DELIVERY_NOTIFICATION" />
          <xs:enumeration value="PRE_EIG_PROCESSING" />
          <xs:enumeration value="PRE_MULTIPLIER_PROCESSING" />
          <xs:enumeration value="PROTECTION_FROM_FREEZING" />
          <xs:enumeration value="REGIONAL_MALL_DELIVERY" />
          <xs:enumeration value="REGIONAL_MALL_PICKUP" />
          <xs:enumeration value="RETURNS_CLEARANCE" />
          <xs:enumeration value="RETURNS_CLEARANCE_SPECIAL_ROUTING_REQUIRED" />
          <xs:enumeration value="RETURN_SHIPMENT" />
          <xs:enumeration value="SATURDAY_DELIVERY" />
          <xs:enumeration value="SATURDAY_PICKUP" />
          <xs:enumeration value="SHIPMENT_ASSEMBLY" />
          <xs:enumeration value="SORT_AND_SEGREGATE" />
          <xs:enumeration value="SPECIAL_DELIVERY" />
          <xs:enumeration value="SPECIAL_EQUIPMENT" />
          <xs:enumeration value="STORAGE" />
          <xs:enumeration value="SUNDAY_DELIVERY" />
          <xs:enumeration value="THIRD_PARTY_CONSIGNEE" />
          <xs:enumeration value="TOP_LOAD" />
          <xs:enumeration value="USPS_DELIVERY" />
          <xs:enumeration value="USPS_PICKUP" />
          <xs:enumeration value="WEIGHING" />
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="TransactionDetail">
        <xs:sequence>
          <xs:element minOccurs="0" name="CustomerTransactionId" type="xs:string">
            <xs:annotation>
              <xs:documentation>Free form text to be echoed back in the reply. Used to match requests and replies.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="Localization" type="ns:Localization">
            <xs:annotation>
              <xs:documentation>Governs data payload language/translations (contrasted with ClientDetail.localization, which governs Notification.localizedMessage language selection).</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ValidatePostalReply">
        <xs:sequence>
          <xs:element minOccurs="1" name="HighestSeverity" type="ns:NotificationSeverityType" />
          <xs:element minOccurs="1" maxOccurs="unbounded" name="Notifications" type="ns:Notification" />
          <xs:element minOccurs="0" name="TransactionDetail" type="ns:TransactionDetail" />
          <xs:element minOccurs="1" name="Version" type="ns:VersionId" />
          <xs:element minOccurs="0" name="PostalDetail" type="ns:PostalDetail" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ValidatePostalRequest">
        <xs:sequence>
          <xs:element minOccurs="1" name="WebAuthenticationDetail" type="ns:WebAuthenticationDetail">
            <xs:annotation>
              <xs:documentation>Descriptive data to be used in authentication of the sender's identity (and right to use FedEx web services).</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="ClientDetail" type="ns:ClientDetail" />
          <xs:element minOccurs="0" name="TransactionDetail" type="ns:TransactionDetail" />
          <xs:element minOccurs="1" name="Version" type="ns:VersionId" />
          <xs:element minOccurs="0" name="ShipDateTime" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Address" type="ns:Address" />
          <xs:element minOccurs="0" name="RoutingCode" type="xs:string" />
          <xs:element minOccurs="0" name="CheckForMismatch" type="xs:boolean" />
          <xs:element minOccurs="0" name="CarrierCode" type="ns:CarrierCodeType" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="WebAuthenticationDetail">
        <xs:annotation>
          <xs:documentation>Used in authentication of the sender's identity.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="0" name="ParentCredential" type="ns:WebAuthenticationCredential">
            <xs:annotation>
              <xs:documentation>This was renamed from cspCredential.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="UserCredential" type="ns:WebAuthenticationCredential">
            <xs:annotation>
              <xs:documentation>Credential used to authenticate a specific software application. This value is provided by FedEx after registration.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="WebAuthenticationCredential">
        <xs:annotation>
          <xs:documentation>Two part authentication string used for the sender's identity</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="1" name="Key" type="xs:string">
            <xs:annotation>
              <xs:documentation>Identifying part of authentication credential. This value is provided by FedEx after registration</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" name="Password" type="xs:string">
            <xs:annotation>
              <xs:documentation>Secret part of authentication key. This value is provided by FedEx after registration.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="VersionId">
        <xs:annotation>
          <xs:documentation>Identifies the version/level of a service operation expected by a caller (in each request) and performed by the callee (in each reply).</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="1" fixed="cnty" name="ServiceId" type="xs:string">
            <xs:annotation>
              <xs:documentation>Identifies a system or sub-system which performs an operation.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" fixed="4" name="Major" type="xs:int">
            <xs:annotation>
              <xs:documentation>Identifies the service business level.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" fixed="0" name="Intermediate" type="xs:int">
            <xs:annotation>
              <xs:documentation>Identifies the service interface level.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" fixed="0" name="Minor" type="xs:int">
            <xs:annotation>
              <xs:documentation>Identifies the service code level.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </types>
  <message name="ValidatePostalRequest">
    <part name="ValidatePostalRequest" element="ns:ValidatePostalRequest" />
  </message>
  <message name="ValidatePostalReply">
    <part name="ValidatePostalReply" element="ns:ValidatePostalReply" />
  </message>
  <portType name="CountryPortType">
    <operation name="validatePostal" parameterOrder="ValidatePostalRequest">
      <input message="ns:ValidatePostalRequest" />
      <output message="ns:ValidatePostalReply" />
    </operation>
  </portType>
  <binding name="CountryServiceSoapBinding" type="ns:CountryPortType">
    <s1:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="validatePostal">
      <s1:operation soapAction="http://fedex.com/ws/cnty/v4/validatePostal" style="document" />
      <input>
        <s1:body use="literal" />
      </input>
      <output>
        <s1:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="CountryService">
    <port name="CountryServicePort" binding="ns:CountryServiceSoapBinding">
      <s1:address location="https://wsbeta.fedex.com:443/web-services/cnty" />
    </port>
  </service>
</definitions>